:root {
  --Primary-Very-dark-blue: hsl(233, 47%, 7%);
  --prymary-Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Prymari-Soft-violet: hsl(277, 64%, 61%);
  --neutral-White-: hsl(0, 0%, 100%);
  --neutral-Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-Slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--Primary-Very-dark-blue);
  color: var(--neutral-White-);
}

.contain {
  width: 85vw;
  height: 450px;
  display: flex;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: var(--prymary-Dark-desaturated-blue);
  overflow: hidden;
}

.box_text {
  width: 600px;
  margin: 3em 2.5em 0 3.8em;
}

.box_text--1 {
  width: 450px;
  font-size: 2.5em;
  font-weight: 700;
}

.box_text--color {
  color: var(--Prymari-Soft-violet);
}

.box_text--2 {
  width: 380px;
  margin-top: 1em;
  color: var(--neutral-Slightly-transparent-white2);
  line-height: 2em;
}

.stats {
  width: 400px;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

.stats_number {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.stats_text {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--neutral-Slightly-transparent-white2);
}

.header_img {
  width: 600px;
  background: var(--Prymari-Soft-violet);
}

.img_desktop {
  width: 100%;
  height: auto;
  min-height: 500px;
  mix-blend-mode: multiply;
}
