:root {
  --Primary-Very-dark-blue: hsl(233, 47%, 7%);
  --prymary-Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Prymari-Soft-violet: hsl(277, 64%, 61%);
  --neutral-White-: hsl(0, 0%, 100%);
  --neutral-Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-Slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  background: var(--Primary-Very-dark-blue);
}

.container {
  width: 1440px;
  max-width: 80vw;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  background: var(--prymary-Dark-desaturated-blue);
  color: var(--neutral-White-);
  display: grid;
  grid-template: "section  header";
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

section {
  grid-area: section;
  width: 650px;
  height: 500px;
}

.header {
  grid-area: header;
  width: 650px;
  height: auto;
  background: var(--Prymari-Soft-violet);
  background-image: url(/images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
